.loader {
  width: 100%;
  background-color: #d4d4d4;
  opacity: 0.25;

  animation-name: loading;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes loading {
  0% {
    background-color: #d4d4d4;
  }
  50% {
    background-color: #f2f2f2;
  }
  100% {
    background-color: #d4d4d4;
  }
}
