.profileimgicons {
  padding: 1rem;
}
.name-title {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin: 1rem 0;
}
.name-title h2 {
  font-size: 2rem;
  height: 2.5rem;
}

.portrait {
  border-radius: 0.8rem;
  width: 20rem;
}

.dc-server {
  display: flex;
  justify-content: center;
}

@media (min-width: 1536px) {
  .profileimgicons {
  }
}
