.profilestats-wrapper {
  width: 35rem;
}
.profilestats {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  gap: 1.5rem 0;
}
.profilestats article {
  display: flex;
  gap: 0.5rem 0;
  flex-direction: column;
}
.profilestats article > h3 {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}
.profilestats article > div {
  display: flex;
  justify-content: space-between;
  gap: 0 2.5rem;
}
